.home-general {
    font-family: 'Roboto', sans-serif;
}


.slogan {
    width: auto;
    height: auto;
    margin: 0;
    text-align: center;
}

.slogan-photo {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.header {
    text-align: center;
    text-transform: uppercase;
    margin: 0  0 50px 0;
    h1 {
        font-weight: 600;
        font-size: 30px;
        padding-top: 50px;
        margin-bottom: 0;
        color: #222;
        margin-top: 0;
    }
    p {
        font-size: 16px;
        color: #AEAEAE;
        margin-top: 8px;
        margin-bottom: 0;

    }
}

.about-paragraph {
    font-size: 16px;
    color: #242424;
    font-weight: 700; 
    line-height: 1.8;
    margin: 0 auto;
    text-align: justify;
}

.about-video {
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.dropdownButton {
    margin-bottom: 50px;
}

.slogan-inscription {
    color: #0C7C59;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.slogan-quote {
    font-weight: 700;
    font-size: 22px;
    margin: 0 50px;
    text-align: justify;
}

.slogan-signature {
    font-size: 20px;
    margin: 30px 0;
}

.slogan-brand {
    color: #0C7C59;
    font-weight: 700;
}