.faq-container {
    margin: 50px;
    font-family: 'Roboto', sans-serif;
    min-height: 70vh;
}

.faq-title {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.faq-ask {
    font-size: 16px;
    font-weight: 700;
}

.faq-answer {
    font-size: 16px;
    text-align: justify;
}

.faq-general-ask {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
   font-weight: 700; 
}