.individual-project {
    margin: 50PX;
}

.product-photo {
    width: 400px;
    height: 400px;
    display: block;
    margin: 50px auto;
}

.product-name,
.product-price {
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.product-description {
    display: block;
}
